
.icon{
    color: #00E8E8;
}
.navbar-brand{
    /* font-family: 'Anek Malayalam', sans-serif; */
/* font-family: 'Baloo Bhai 2', cursive; */
/* font-family: 'Outfit', sans-serif; */
font-family: 'The Nautigal', cursive;
}
.banner{
    background-image: url(/image/image2.jpg);
  background-size: cover;
  background-attachment: fixed;
  padding: 10% 0px;
  /* height: 500px; */
}
.features{
    padding: 2% 10%;
}
.support{
    background-image: url(/image/image3.jpg);
    /* height: 500px; */
    background-size: cover;
    background-attachment: fixed;
    padding: 12% 0px;
}
.specialities{
    padding: 5% 0px ;
    width: 60%;
}
.specialities i{
    color: rgb(32 177 170);
}
.form-control{

}